<main>
    <section>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedTabChange)="todoService.onTabChangeOfTodoState($event)">
            <mat-tab label="Pending">
                    <app-todolist></app-todolist>
            </mat-tab>
            <mat-tab label="in Progress">
                <app-todolist></app-todolist>
            </mat-tab>
            <mat-tab label="Done">
                <app-todolist></app-todolist>
            </mat-tab>
        </mat-tab-group>
    </section>
</main>