<main>
    <section>
        <div class="sidenav-header">
            <button mat-icon-button (click)="sidenavService.toggleSidenav()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-list>
            <mat-list-item role="navigation" (click)="sidenavService.setActiveComponent('dashboard')" [ngClass]="{'active': sidenavService.activeComponent() == 'dashboard'}">
                <span>Dashboard</span>
            </mat-list-item>
            <mat-list-item role="navigation" (click)="sidenavService.setActiveComponent('newtodo')" [ngClass]="{'active': sidenavService.activeComponent() == 'newtodo'}">
                <span> New ToDo</span>
            </mat-list-item>
        </mat-list>
    </section>
</main>