<main>
    <section>
        <div class="sidenav-header">
            <button mat-icon-button (click)="sidenavService.toggleSidenav()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-list>
            <mat-list-item matBadge="{{todoService.allTodos().length}}" matBadgeColor="accent" role="navigation"
                (click)="sidenavService.setActiveComponent('dashboard')"
                [ngClass]="{'active': sidenavService.activeComponent() == 'dashboard'}">
                <span>Dashboard</span>
            </mat-list-item>
            <mat-list-item role="navigation" (click)="sidenavService.setActiveComponent('newtodo')"
                [ngClass]="{'active': sidenavService.activeComponent() == 'newtodo'}">
                <span>New ToDo</span>
            </mat-list-item>
        </mat-list>
        <mat-divider role="separator"></mat-divider>
        <mat-list>
            <mat-list-item *ngFor="let category of ['private', 'study', 'work']"
                matBadge="{{ todoService.getTodosByCategory(category) }}" matBadgeColor="accent" role="navigation"
                (click)="sidenavService.setActiveComponent(category)"
                [ngClass]="{active: sidenavService.activeComponent() == category}">
                <span>{{ category | titlecase }}</span>
            </mat-list-item>
        </mat-list>
    </section>
</main>